.editorBox {
	border: 1px solid #ced4da !important;
	padding: 15px !important;
	border-radius: .25rem;
	height: 500px !important;
	margin-bottom: 20px;
}
.editorToolbar {
	border: 1px solid #ced4da !important;
	border-radius: .25rem;
}

.editorWrapper {
	margin: 0 auto;
	width: 100%;
}

.editorBox .public-DraftStyleDefault-block {
	margin: 0;
}

.ck.ck-editor__editable_inline {
	min-height: 500px;

	border: 1px solid #ced4da;
}
