.ProductCreatePage {
	text-align: left;
	background: #f4f8fb;
}
.ProductCreatePage .BackButton {
	margin: 10px 0;
}

.ProductCreateView {
}

.ProductCreateView .FormView {
	padding: 10px;

	background: #ffffff;
	border-radius: .5rem;
	box-shadow: 1px 1px 5px rgba(237, 238, 240, .2);
}
.ProductCreateView .FormViewTitle {
	border-bottom: 2px solid #f9f9f9;
	padding: 10px 15px;
	font-size: 15px;
	font-weight: bold;
	color: #555555;
}
.ProductCreateView .FormViewPage {
	padding: 25px 40px;
}
.ProductCreateView .ItemView2 {
	display: flex;
}

.ProductCreateView .ItemView {
	width: 100%;
	display: flex;
	margin-bottom: 20px;
}
.ProductCreateView .ItemViewRow {
	display: flex;
	flex-direction: column;
}

.ProductCreateView .ItemHeader {
	display: flex;
	flex-direction: row;
}

.ProductCreateView .ItemBody {
	font-size: 15px;
	color: #777777;
	margin-top: 5px;
	margin-bottom: 10px;
}

.ProductCreateView .ItemBody2 {
	font-size: 15px;
	color: #777777;
	margin-left: 120px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.ProductCreateView .ItemTitle {
	padding: 6px 20px 6px 0;
	text-align: right;
	width: 120px;
	font-weight: 400;
	font-size: 15px;
	color: #777777;
}
.ProductCreateView .ItemContent {
	display: flex;
	flex-direction: row;
	width: calc(100% - 100px);
}

.ProductCreateView .ItemContent .TextInput {
	margin: 0;
	width: 100%;
	height: 34px;
	align-items: center;
	border: 1px solid #dbdde2;
	border-radius: 0.25rem;
	color: #555;
	font-size: 13px;
	padding: .375rem .75rem;
}

.ProductCreateView .ItemContent .TextSelect {
	margin: 0;
	width: 100%;
	height: 34px;
	align-items: center;
	border: 1px solid #dbdde2;
	border-radius: 0.25rem;
	color: #555;
	font-size: 13px;
	padding: .375rem .75rem;
}

.ImageformBox {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	padding: 5px;
	min-height: 180px;
	margin-bottom: 10px;
}

.Imageform {
	padding: 1px;
	border: 1px solid #ced4da;
	position: relative;
	border-radius: .25rem;
	margin: 5px;
	width: 124px;
}

.ImageformImage {
	width: 120px;
}

.ImageformSingle {
	padding: 1px;
	border: 1px solid #ced4da;
	position: relative;
	border-radius: .25rem;
	margin: 5px;
}
.ImageformSingleImage {
	height: 300px;
}

.ImageformTitle {
	margin: 5px;
	font-size: 12px;
	overflow: hidden;
}

.ImageformXBTN {
	top: 0;
	right: 0;
	margin: 0;
	font-size: 10px;
	width: 20px;
	height: 20px;
	padding: 0;
	background: #555555;
	position: relative;
}
.ImageformPop {
	width: 500px;
	padding: 2px;
	position: absolute;
	background: #fff;
	border: 1px solid #555;
	z-index: 100;
	font-size: 11px;
}
.ImageformPop img {
	width: 100%;
}
.ImageformPop div {
	padding: 5px;
}

.ProductCreateView .CreateArea {
	padding: 5px;
}

.ProductCreateView .col,
.row,
.container {
	padding: 0px;
}

.CarTable {
	margin: 10px auto;
	width: 700px;
}

.ProducerTable {
	margin: 10px auto;
	width: 700px;
}

.nav-tabs {
	margin-bottom: 10px;
	flex-direction: row;
	background: #fff;
}

.ProductCreateFooter {
	display: flex;
	flex-direction: row-reverse;
}

.btn-Submit {
	font-size: 15px;
	width: 120px;
	height: 40px;
	color: #ffffff;
	background: #52b36b;
}

.btn-SelectPre {
	z-index: 999;
	font-size: 15px;
	width: 80px;
	height: 38px;
	color: #555;
	border: solid 1px #ced4da;
	border-radius: .25rem 0 0 0.25rem;
}

.btn-SelectEnd {
	z-index: 999;
	font-size: 15px;
	width: 50px;
	height: 34px;
	color: #555;
	border-left: 0;
	border-top: solid 1px #ced4da;
	border-right: solid 1px #ced4da;
	border-bottom: solid 1px #ced4da;
	border-radius: 0 .25rem 0.25rem 0;
}

.btn-SelectPre:hover,
.btn-SelectEnd:hover {
	color: #ffffff;
	background: #52b36b;
}

.CodeGen {
	display: flex;
	width: 100%;
}
.CodeGenText {
	margin: 0;
	width: 100%;
	height: 34px;
	align-items: center;
	background: #f4f8fb !important;
	border: 1px solid #dbdde2;
	border-radius: 0.25rem 0 0 0.25rem;
	color: #555;
	font-size: 13px;
	padding: .375rem .75rem;
}
